<!-- Plausible.io -->
<script async defer data-domain="{{ .Site.Params.plausible_io }}" src="https://analytics.jmjordan.io/js/plausible.js"></script>

<!-- Large favicons -->
<link rel="icon" type="image/png" sizes="64x64" href="
{{- .Site.Params.assets.favicon64x64 | default "favicon-64x64.png" | absURL -}}">
<link rel="icon" type="image/png" sizes="128x128" href="
{{- .Site.Params.assets.favicon64x64 | default "favicon-128x128.png" | absURL -}}">

<script type="text/javascript">
    const getUptime = async () => {

        const token = "{{ .Site.Params.updown_token }}";
        const apikey = "{{ .Site.Params.updown_key }}";
        const response = await fetch("https://updown.io/api/checks/" + token + "?api-key=" + apikey);
        const check = await response.json();

        const footer = document.getElementsByClassName('footer')[0];

        var dotSpan = document.createElement('span');
        dotSpan.innerHTML = "&middot; ";
        footer.appendChild(dotSpan);

        var uptimeSpan = document.createElement('span');
        var uptimeSpanText = document.createTextNode('Uptime ');
        uptimeSpan.appendChild(uptimeSpanText);

        var uptimeLink = document.createElement('a');
        uptimeLink.setAttribute('rel', 'noopener');
        uptimeLink.setAttribute('target', '_blank');
        uptimeLink.setAttribute('href', 'https://updown.io/{{ .Site.Params.updown_token }}');
        uptimeLink.innerText = `${check['uptime']}%`

        uptimeSpan.appendChild(uptimeLink);

        footer.appendChild(uptimeSpan);
    }

    if (document.readyState === "complete" 
    || (document.readyState !== "loading" && !document.documentElement.doScroll)) {
        getUptime();
    } else {
        document.addEventListener("DOMContentLoaded", getUptime);
    }
</script>